*{
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: '__Inter_20951f', '__Inter_Fallback_20951f';
    box-sizing: border-box;
}

.topnav{
    
    
    
}

.bgrectang{
    height: 100vh;
    width: 100%;
    background-image: url(../img/homepage\ bg.png);
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.rectang {
    border: 1px solid black;
    width: 711px;
    height: 421px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

}
.rectang{
    padding: 26px;
}
.rectang h2{
    text-align: center;
}
.rectang p{
    padding-left: 90px;
    font-size: 14px;
    
}

div.next{
    display: flex;
    justify-content: end;
    background-color: white;
    color: black;

}
button#next.nxt{
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 7px;
    width: 158px;
    height: 50px;
   
}

div.button{
    text-align: center;
    
}
button.btn{
    
    background-color: #000000;
    color: white;
}

.belownav{
    top: 0;
    left: 0;
    bottom: 0;
    width: 72px;
    height: calc(100vh - 0px);
    color: #fff;
    position: fixed;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
}

.belownav:hover {
width: auto;
height: auto;
}

.side img{
    width: 6.5vw;
    height: 12vh;
    margin-top: 80px;
    margin-left: 40px;
}

.side{
    width: 315px;
    height: 240px;
    background: #635d5d;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);

}

.side h3{
    padding-left: 40px;
}
.side p{
    padding-left: 35px;
}

.inside{
    display: flex;
    align-items: center;
    margin-right: 5px;
    justify-content: space-between;
    background-color: #635d5d;
    width: 100%;
    color: #fff;
    position: sticky;
    overflow: hidden;
}

.inside h2{
    margin-left: 10px;
    padding-left: 20px;
    font-size:larger;
    margin: 0%;
    font-weight: 600;
}



.inside ul li a {
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}

.inside ul {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    
}

.inside ul li {
    padding-top: 20px;
    margin-right: 10px;
    list-style: none;
    transition: transform .2s;
}

.inside ul li:hover {
    transform: scale(1.2);
}

.inside ul img{
    height: 60px;
    margin-top: -18px;
    margin-left: -10px;
}

.menu img{
    height: 25px;
    padding-right: 20px;
}

.logo-text{
    position: absolute;
    height: 48px;
    left: 350px;
    font-weight: 900;
    font-size: 32px;
    color: white;
    top: 20px;
}

.custom{
    /* Customer */

position: absolute;
width: 166px;
height: 35px;
left: 108px;
top: 98px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #e0e0e0;


}

.side p{
    /* Customer@gmail.com */

position: absolute;
width: 166px;
height: 35px;
left: 106px;
top: 121px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #e0e0e0;


}



.rectang{
}