*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav{
    height: 10vh;
    background-image: url(../img/homepage\ bg.png);
    background-size: cover;
}

.bgrectang{
    /*
    height: 90vh;
    width: 204.5vh;
    background-image: url(../img/homepage\ bg.png);
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-left: 15%;
    */
}

.bgrectang h2{
    /*
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    color: #fff;
    */
}

.bgrectang p{
    /*
    font-size: 20px;
    color: #fff;
    */
}

.bgrectang a{
    /*
    font-style: normal;
    */
}

.belownav{
    top: 0;
    left: 0;
    bottom: 0;
    width: 72px;
    height: calc(100vh - 0px);
    color: #fff;
    position: fixed;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
}

.belownav:hover {
width: auto;
height: auto;
}

.side img{
    width: 6.5vw;
    height: 12vh;
    margin-top: 80px;
    margin-left: 40px;
}

.side{
    width: 315px;
    height: 240px;
    background: #635d5d;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);

}

.side h3{
    padding-left: 40px;
}
.side p{
    padding-left: 35px;
}

.inside{
    /* Rectangle 10 */

    width: 315px;
    height: 584%;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
    background: #ffffff;
}



.inside ul li a {
    padding: 50px;
    border-radius: 10px;
    color: #000000;
    list-style: none;
    text-decoration: none;
}


.inside ul li {
    padding-top: 60px;
    margin-right: 10px;
    list-style: none;
    transition: transform .2s;
}

.inside ul li:hover {
    transform: scale(1.2);
}

.menu img{
    height: 25px;
    padding-right: 20px;
}

.logo-text{
    position: absolute;
    height: 48px;
    left: 350px;
    font-weight: 900;
    font-size: 32px;
    color: white;
    top: 20px;
}

.custom{
    /* Customer */

position: absolute;
width: 166px;
height: 35px;
left: 108px;
top: 98px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #e0e0e0;


}

.side p{
    /* Customer@gmail.com */

position: absolute;
width: 166px;
height: 35px;
left: 106px;
top: 121px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #e0e0e0;


}



.rectang{
}