* {
    padding: 0;
    margin: 0;
    font-family: '__Inter_20951f', '__Inter_Fallback_20951f';
    box-sizing: border-box;
}
nav.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: rgb(76, 76, 76);
    z-index: 2;
    overflow: hidden;
}   
.brand{
    padding-left: 20px;
    font-size:larger;
    margin: 0%;
    font-weight: 600;

}
ul.navbar-nav{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 10px;
}

.intro{
    background-image: url(../img/landing-bg.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-size: cover;
    flex-direction: column;
    

}
.phrase h1{

    text-align: center;
    font-size: 3em; /* Adjust size as needed */
    color: white; /* Optional: sets the text color */
    padding-bottom: 15px;
    margin-top: 60px;
}
.phrase h4{
    color: white;
    text-align: center;
   margin-top: 20px;
    
}
#button {
    flex: 1; /* Make buttons take equal space */
    padding: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin: 5px; /* Optional margin */
    width: 215px;
    height: 56px;
}
.context h5{
    margin-top: 30px;
    margin-left: 100px;
    font-weight: bold;
}

div.container{
    display: flex;
    margin-top: 60px;
}
.context img{
    width: 61px;
    height: 51px;
    margin-left: 120px;
    margin-top: 50px;
}
div.info{
    display: flex;
    
}
p#details{ 
    padding-left: 100px;
}
img.img1{
    width: 61px;
    height: 51px;
    margin-left: 120px;
    margin-top: 10px;
}
img.img3{
    width: 61px;
    height: 51px;
    margin-left: 120px;
    margin-top: 60px;
}
img.sidepic{
    width: 415px;
    height: 593px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 5%;
}
div.context-1{
    display: flex;
}
div.services{
    background-color: rgb(246, 233, 218);
}

.carousel img {
    height: 530px; /* Set your desired height */
    width: 70%;   /* Maintain aspect ratio */
    
}
div.carousel{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.hours h3{
    padding-left: 15%;
}

.hours img{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    
}
div.opening{
    display: flex;
    padding-left: 17%;
    padding-top: 18px;
    margin-bottom: 10px;
}
div.details{
    display: flex;
    width: 100%;
    align-items: flex-start;
}

div.hours{
    width: 50%;
}
div.information{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
}
.icon img{
    width: 30px;
    height: 30px;
}
div.location{
    display: flex;
    padding-top: 18px;
    margin-bottom: 10px;
}
div.icon{
    display: flex;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon p{
    padding-right: 10px;
}
div.text-center p-3{
    background-color: beige;
}
.icon a{
    padding-right: 10px;
    color: black;
}